<div class="container info">
    <div class="info-wrap">
        <h1>What we offer</h1>
        <p>Pleasant dining experience for all moods</p>
    </div>
    <hr />
    <div class="flex-container">
        <div class="cuisines flex-items">
            <h3>Cuisines Available</h3>
            <ul class="cuisine-list">
                <li class="cuisine-items"><a href="#">Cafe</a></li>
                <li class="cuisine-items"><a href="#">American</a></li>
                <li class="cuisine-items"><a href="#">Burger</a></li>
                <li class="cuisine-items"><a href="#">Beverage</a></li>
                <li class="cuisine-items"><a href="#">Dessert</a></li>
            </ul>
        </div>
        <div class="more-info flex-items">
            <ul class="facilities-list">
                <li class="facility-item">
                    <p><b><span>&#10003;</span></b>Breakfast</p>
                </li>
                <li class="facility-item">
                    <p><b><span>&#10003;</span></b>Seating</p>
                </li>
                <li class="facility-item">
                    <p><b><span>&#10003;</span></b>Pet Friendly</p>
                </li>
                <li class="facility-item">
                    <p><b><span>&#10003;</span></b>Home Delivery</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<section class="menu-section">

    <div class="container menu">
        <div class="menu-heading">
            <h1>Menu Items</h1>
            <p>Check out our worldclass menu items</p>
        </div>
        <hr />
        <ul class="menu-item-list">
            <% allMenuItems.forEach((item, index)=> { %>
                <li class="menu-item">
                    <div class="menu-item-overlay">
                        <img onmouseover="showAddButton(this.id, 'menu-item-button-<%=index%>');"
                            onmouseout="hideAddButton(this.id, 'menu-item-button-<%=index%>');"
                            src="/images/<%=item.image%>" alt=<%=item.name%>
                        width="200px" height="200px"
                        id="menu-item-img-<%=index%>">
                            <a href="#"
                                onmouseover="showAddButton('menu-item-img-<%=index%>', 'menu-item-button-<%=index%>');"
                                class="menu-item-button" id="menu-item-button-<%=index%>">Add</a>
                    </div>
                    <div class="item-desc">
                        <p>
                            <%=item.name%>
                        </p>
                        <h4>
                            <%=item.price%>
                        </h4>
                    </div>
                </li>
                <%}) %>
        </ul>
    </div>
</section>

<%- include('./partials/feedbacks') %>